.paginationjs-pages{
    text-align: center;
}
.paginationjs-pages>ul {
    position: relative;
    display: block;
    background: #d6dbdf;
    color: #ffffff;
    padding: 0;
    display: inline-block;
    border-radius: 6px;
    word-spacing: -0.5px;
    margin: 20px 0;
}
.paginationjs-pages>ul{
    display: inline-block;
}
.paginationjs-pages>ul li {
    display: inline-block;
    margin-right: -2px;
    vertical-align: middle;
    word-spacing: normal;
}
.paginationjs-pages>ul li a {
    position: static;
}
.paginationjs-pages>ul li.active > a,
.paginationjs-pages>ul li.active > span {
    background-color: #F7947A;
    color: #ffffff;
    border-color: #dfe2e5;
}
.paginationjs-pages>ul li.active > a,
.paginationjs-pages>ul li.active > span,
.paginationjs-pages>ul li.active > a:hover,
.paginationjs-pages>ul li.active > span:hover,
.paginationjs-pages>ul li.active > a:focus,
.paginationjs-pages>ul li.active > span:focus {
    background-color: #F7947A;
    color: #ffffff;
    border-color: #dfe2e5;
}
.paginationjs-pages>ul li.active.previous > a,
.paginationjs-pages>ul li.active.next > a,
.paginationjs-pages>ul li.active.previous > span,
.paginationjs-pages>ul li.active.next > span {
    margin: 0;
}
.paginationjs-pages>ul li.active.previous > a,
.paginationjs-pages>ul li.active.next > a,
.paginationjs-pages>ul li.active.previous > span,
.paginationjs-pages>ul li.active.next > span,
.paginationjs-pages>ul li.active.previous > a:hover,
.paginationjs-pages>ul li.active.next > a:hover,
.paginationjs-pages>ul li.active.previous > span:hover,
.paginationjs-pages>ul li.active.next > span:hover,
.paginationjs-pages>ul li.active.previous > a:focus,
.paginationjs-pages>ul li.active.next > a:focus,
.paginationjs-pages>ul li.active.previous > span:focus,
.paginationjs-pages>ul li.active.next > span:focus {
    background-color: #F7947A;
    color: #ffffff;
}
.paginationjs-pages>ul li:first-child > a,
.paginationjs-pages>ul li:first-child > span {
    border-radius: 6px 0 0 6px;
    border-left: none;
}
.paginationjs-pages>ul li:first-child.previous + li > a,
.paginationjs-pages>ul li:first-child.previous + li > span {
    border-left-width: 0;
}
.paginationjs-pages>ul li:last-child {
    margin-right: 0;
}
.paginationjs-pages>ul li:last-child > a,
.paginationjs-pages>ul li:last-child > span,
.paginationjs-pages>ul li:last-child > a:hover,
.paginationjs-pages>ul li:last-child > span:hover,
.paginationjs-pages>ul li:last-child > a:focus,
.paginationjs-pages>ul li:last-child > span:focus {
    border-radius: 0 6px 6px 0;
}
.paginationjs-pages>ul li.previous > a,
.paginationjs-pages>ul li.next > a,
.paginationjs-pages>ul li.previous > span,
.paginationjs-pages>ul li.next > span {
    border-right: 2px solid #e4e7ea;
    font-size: 16px;
    min-width: auto;
    padding: 12px 17px;
    background-color: transparent;
}
.paginationjs-pages>ul li.next > a,
.paginationjs-pages>ul li.next > span {
    border-right: none;
}
.paginationjs-pages>ul li.disabled > a,
.paginationjs-pages>ul li.disabled > span {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border-right-color: #dfe2e5;
    cursor: not-allowed;
}
.paginationjs-pages>ul li.disabled > a:hover,
.paginationjs-pages>ul li.disabled > span:hover,
.paginationjs-pages>ul li.disabled > a:focus,
.paginationjs-pages>ul li.disabled > span:focus,
.paginationjs-pages>ul li.disabled > a:active,
.paginationjs-pages>ul li.disabled > span:active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
}
.paginationjs-pages>ul li > a,
.paginationjs-pages>ul li > span {
    display: inline-block;
    background: transparent;
    border: none;
    border-left: 2px solid #e4e7ea;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    min-height: 41px;
    min-width: 41px;
    outline: none;
    padding: 12px 10px;
    text-align: center;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.paginationjs-pages>ul li > a:hover,
.paginationjs-pages>ul li > span:hover,
.paginationjs-pages>ul li > a:focus,
.paginationjs-pages>ul li > span:focus {
    background-color: #F7947A;
    color: #ffffff;
}
.paginationjs-pages>ul li > a:active,
.paginationjs-pages>ul li > span:active {
    background-color: #F7947A;
    color: #ffffff;
}
@media screen and (max-width: 650px) {
    html, body{
        width: 100%;
        height: 100%;
    }

    .form-control .form-control:focus {
        border-color: #F7947A;
    }
    .btn{
        background-color: #F7947A;
    }
    .navv{
        border-bottom: 1px solid #c1c1c1;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    }
    .navv ul{
        margin: 5px auto;
        padding: 0;
        width: 260px;
    }
    .navv li{
        padding: 0 3px;
        margin: 0;
        display: inline-block;
        color: #000;
        font-size: 15px;
    }
    .navv a {
        /*color: #000;*/
    }
    .navv a:hover .active{
        color:#F7947A;
        font-weight: 600;
    }
    a:hover, .active{
        color:#F7947A;
        text-decoration: none;
        font-weight: 600;
    }
    .container{
        height: 100%;
        margin-top: 20px;
    }

    /*selectPage.css*/
    .vertical{
        display: table;
    }

    .vertical_con{
        display: table-cell;
        vertical-align: middle;
    }
    .select_card{
        background-color: #F7947A;
        padding: 14px;
        margin-top: 5%;
    }
    .select_card_two{
        background-color: #fbc9bc;
        padding: 14px;
        margin-top: 5%;
    }
    .select_card>img{
        display: block;
        margin: auto;
        width: 40%;
    }
    .select_card_two>img{
        display: block;
        margin: auto;
        width: 40%;
    }
    .select_card h4{
        text-align: center;
        font-weight: 600;
        margin-top: 15%;
        color: #fff;
    }
    .select_card_two h4{
        text-align: center;
        font-weight: 600;
        margin-top: 15%;
        color: #fff;
    }

    /*userList.css*/
    #manage_users_table{
        border-collapse:collapse;
        margin: 2% auto;
        table-layout:fixed;
    }
    #manage_users_table th{
        border: 1px solid black;
        text-align: center;

    }
    #manage_users_table td{
        border: 1px solid black;
        text-align: center;
        padding:0 5px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;

    }
    .manage_users_table{
        border-collapse:collapse;
        margin: 2% auto;
        table-layout:fixed;
    }
    .manage_users_table th{
        border: 1px solid black;
        text-align: center;

    }
    .manage_users_table td{
        border: 1px solid black;
        text-align: center;
        padding:0 5px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;

    }
    .pageDiv{
        text-align: center;
    }
    /*letter.css*/
    .dropdown-toggle{
        background-color: #F7947A;
    }
    .letter_drop{
        margin-bottom: 30px;
    }
    #letter_btn_div{
        margin: 20px auto;
        width:87px;
    }
    /*send.css*/
    .flat-form {
        background: #fff;
        margin: 25px auto;
        width: 100%;
        height: 200%;
        position: relative;
    }
    .tabs {
        background: #F7947A;
        height: 52px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 20px;
        border: 1px solid #E2D6D4;
    }
    .tabs li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }
    .tabs a {
        background: #F7947A;
        display: block;
        float: left;
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 12px 22px 12px 22px;
        /*border-right: 1px solid @tab-border;*/

    }
    .tabs a.active {
        background: #fff;
        border-right: none;
        color: #F7947A;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .tabs a:hover{
        color: #6A7071;
    }
    .form-action {
        position: relative;
    }
}
@media screen and (min-width: 651px) {
    html, body{
        width: 100%;
        height: 100%;
    }

    #showPage {
        display: inline-block;
        margin-right: -2px;
        word-spacing: normal;
        vertical-align: middle;
    }
    #showPageNotice {
        display: inline-block;
        margin-right: -2px;
        word-spacing: normal;
        vertical-align: middle;
    }
    #showPageCircle {
        display: inline-block;
        margin-right: -2px;
        word-spacing: normal;
        vertical-align: middle;
    }
    .form-control .form-control:focus {
        border-color: #F7947A;
        outline: 0;
        box-shadow: none;
    }
    .btn{
        background-color: #F7947A;
    }
    .navv{
        border-bottom: 1px solid #c1c1c1;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    }
    .navv ul{
        margin: 5px auto;
    }
    .navv li{
        padding: 0 2%;
        margin: 0;
        display: inline-block;
        color: #000;
        font-size: 15px;
    }
    .navv a {
        /*color: #000;*/
    }
    .navv a:hover .active{
        color:#F7947A;
        font-weight: 600;
    }
    a:hover, .active{
        color:#F7947A;
        text-decoration: none;
        font-weight: 600;
    }
    .container{
        height: 100%;
        margin-top: 20px;
    }

    /*selectPage.css*/
    .vertical{
        display: table;
    }

    .vertical_con{
        display: table-cell;
        vertical-align: middle;
    }
    .select_card{
        background-color: #F7947A;
        padding: 14px;
        margin-top: 5%;
    }
    .select_card_two{
        background-color: #fbc9bc;
        padding: 14px;
        margin-top: 5%;
    }
    .select_card>img{
        display: block;
        margin: auto;
        width: 40%;
    }
    .select_card_two>img{
        display: block;
        margin: auto;
        width: 40%;
    }
    .select_card h4{
        text-align: center;
        font-weight: 600;
        margin-top: 15%;
        color: #fff;
    }
    .select_card_two h4{
        text-align: center;
        font-weight: 600;
        margin-top: 15%;
        color: #fff;
    }

    /*userList.css*/
    #manage_users_table{
        border-collapse:collapse;
        margin: 2% auto;
    }
    #manage_users_table th{
        border: 1px solid black;
        text-align: center;

    }
    #manage_users_table td{
        border: 1px solid black;
        text-align: center;
        padding:0 15px;
    }
    .manage_users_table{
        border-collapse:collapse;
        margin: 2% auto;
        table-layout:fixed;
    }
    .manage_users_table th{
        border: 1px solid black;
        text-align: center;

    }
    .manage_users_table td{
        border: 1px solid black;
        text-align: center;
        padding:0 5px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;

    }
    .pageDiv{
        text-align: center;
    }
    /*letter.css*/
    .dropdown-toggle{
        background-color: #F7947A;
    }
    .letter_drop{
        margin-bottom: 30px;
    }
    #letter_btn_div{
        margin: 20px auto;
        width:8%;
    }
    .letter_label{
        margin-top: 20px;
    }
    /*send.css*/
    .flat-form {
        background: #fff;
        margin: 25px auto;
        width: 90%;
        height: 150%;
        position: relative;
        border: 1px solid #E2D6D4;
    }
    .tabs {
        background: #F7947A;
        height: 50px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 20px;
        /*border-bottom: 1px solid #000;*/
    }
    .tabs li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
    }
    .tabs a {
        background: #F7947A;
        display: block;
        float: left;
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 12px 22px 12px 22px;
        /*border-right: 1px solid @tab-border;*/

    }
    .tabs li:last-child a {
        border-right: none;
        width: 174px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .tabs a.active {
        background: #fff;
        border-right: none;
        color: #F7947A;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .tabs a:hover{
        color: #6A7071;
    }
    .form-action {
        padding: 0 20px;
        position: relative;
    }
}

