<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/total.css" />
    <!--@thymesVar id="title" type="String"-->
    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/bootstrap/css/flat-ui.min.css" rel="stylesheet">
    <title th:text="${title}">title</title>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>

    <script src="/bootstrap/js/vendor/html5shiv.js"></script>
    <script src="/bootstrap/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navv">
        <ul class="container">
            <li><a href="/manage/list">회원목록</a></li>
            <li>|</li>
            <li><a href="/letter/write">쪽지</a></li>
            <li>|</li>
            <li><a class="active" href="/attend/list">참석여부</a></li>
            <li>|</li>
            <li><a href="/send/list">보냄</a></li>
        </ul>
    </div> <!-- End Nav -->
    <!--@thymesVar id="count" type="String"-->
    <div class="container">
        <div>
            <span>총 인원 : </span>
            <span th:text="${listsCount}"></span>
            <span>명, </span>
            <span>참석인원 : </span>
            <strong><span th:text="${attendPersonCount}"></span></strong>
            <span>명</span>
        </div>
        <table class="manage_users_table" >
            <tr th:each="list : ${lists}">
                <td th:text="${list.stuId}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.major}"></td>
                <td th:if="${list.check_att}==0" th:text="무응답"></td>
                <td th:if="${list.check_att}==1" th:text="응답"></td>
                <td th:if="${list.check_att}==2" th:text="불참"></td>
            </tr>
        </table>
        <!--<div class="pageDiv">-->
            <!--<ul class="pagination">-->
                <!--<li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>-->
                <!--<hidden th:each="i : ${#numbers.sequence(1,count)}">-->
                    <!--<li><a th:text="${i}" th:onclick="${'javascript:loadUserList(' + i + ')'}"></a></li>-->
                <!--</hidden>-->
                <!--<li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>-->
            <!--</ul>-->
        <!--</div> &lt;!&ndash; /pagination &ndash;&gt;-->

    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/bootstrap/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/vendor/video.js"></script>
    <script src="/bootstrap/js/flat-ui.min.js"></script>
    </body>
</html>